<template>
  <div class="container">
    <h1>{{ this.$route.params.id }}問目の質問</h1>
    <div v-if="this.$route.params.id === '1'">
      質問 1_1
    </div>
    <div v-else-if="this.$route.query.route === '1'">
      質問 2_1
    </div>
    <div v-else-if="this.$route.query.route === '0'">
      質問 2_2
    </div>
    <div v-else-if="this.$route.query.route === '11'">
      質問 3_1
    </div>
    <div v-else-if="this.$route.query.route === '10'">
      質問 3_2
    </div>
    <div v-else-if="this.$route.query.route === '00'">
      質問 3_2
    </div>
    <div v-else-if="this.$route.query.route === '01'">
      質問 3_3
    </div>
    <div v-else-if="this.$route.query.route === '111'">
      質問 4_1
    </div>
    <div v-else-if="this.$route.query.route === '110'">
      質問 4_2
    </div>
    <div v-else-if="this.$route.query.route === '101'">
      質問 4_2
    </div>
    <div v-else-if="this.$route.query.route === '100'">
      質問 4_3
    </div>
    <div v-else-if="this.$route.query.route === '001'">
      質問 4_2
    </div>
    <div v-else-if="this.$route.query.route === '000'">
      質問 4_3
    </div>
    <div v-else-if="this.$route.query.route === '011'">
      質問 4_3
    </div>
    <div v-else-if="this.$route.query.route === '010'">
      質問 4_4
    </div>
    <nuxt-link :to="`${setQuery('yes')}`">Yes</nuxt-link>
    <nuxt-link :to="`${setQuery('no')}`">No</nuxt-link>
    <hr />
    <nuxt-link to="/">> Home</nuxt-link>
  </div>
</template>

<script>
export default {
  methods: {
    setQuery(answer) {
      const nextPath = `./${parseInt(this.$route.params.id) + 1}`
      const query = answer === 'yes' ? '1' : '0'

      let exRoute
      if (this.$route.query.route) {
        exRoute = this.$route.query.route
      } else {
        exRoute = ''
      }

      if (this.$route.params.id === '4') {
        return `/result?route=${exRoute}${query}`
      } else {
        return nextPath + `?route=${exRoute}${query}`
      }
    }
  }
}
</script>

<style>
.container {
  width: 100%;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

div {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

hr {
  margin: 20px 0;
}
</style>
