<template>
  <div class="container">
    <h2>{{ question }}の質問内容</h2>
    <p>ここにいろいろ入る</p>
  </div>
</template>

<script>
export default {
  props: {
    question: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #000000;
}
</style>
