<template>
  <div class="content">
    <h3>結果の詳細</h3>
    <p>結果: {{ result }}</p>
    <img :src="getImgUrl(result)" alt="" />
  </div>
</template>

<script>
export default {
  props: {
    result: {
      type: String,
      default: ''
    }
  },
  methods: {
    getImgUrl(result) {
      const images = require.context('../assets/images/', false, /\.jpg$/)
      return images('./' + result + '.jpg')
    }
  }
}
</script>

<style scoped>
.content {
  width: 100%;
  margin: 20px 0;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 20px;
}
</style>
