<template>
  <div class="container">
    <h1>Top</h1>
    <nuxt-link to="/q1">診断開始</nuxt-link>
    <hr />
    <img src="~/assets/images/chart.jpg" alt width="900" />
  </div>
</template>

<script>
export default {
  components: {}
}
</script>

<style>
.container {
  width: 100%;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

hr {
  margin: 30px 0;
}
</style>
