<template>
  <div class="container">
    <h2>Q1_1：パサつきが気になる</h2>
    <QuestionContent question="Q1_1"></QuestionContent>
    <nuxt-link :to="`${this.$setQuery('yes', '/q2')}`">Yes</nuxt-link>
    <nuxt-link :to="`${this.$setQuery('no', '/q2')}`">No</nuxt-link>
  </div>
</template>

<script>
import QuestionContent from '~/components/QuestionContent.vue'

export default {
  components: {
    QuestionContent
  }
}
</script>

<style>
.container {
  width: 100%;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}
</style>
