<template>
  <div class="container">
    <client-only>
      <div v-if="this.$route.query.route === '1'">
        <h2>Q2_1：重い質感が好き</h2>
        <QuestionContent question="Q2_1"></QuestionContent>
      </div>
      <div v-else-if="this.$route.query.route === '0'">
        <h2>Q2_2：クセが気になる</h2>
        <QuestionContent question="Q2_2"></QuestionContent>
      </div>
    </client-only>
    <nuxt-link :to="`${this.$setQuery('yes', '/q3')}`">Yes</nuxt-link>
    <nuxt-link :to="`${this.$setQuery('no', '/q3')}`">No</nuxt-link>
    <div class="back">
      <nuxt-link to="/q1/">戻る</nuxt-link>
    </div>
  </div>
</template>

<script>
import QuestionContent from '~/components/QuestionContent.vue'

export default {
  components: {
    QuestionContent
  },
  mounted() {
    // eslint-disable-next-line no-console
    console.log(this.$route.query.route)
  }
}
</script>

<style>
.container {
  width: 100%;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.back {
  margin-top: 30px;
}
</style>
