<template>
  <div class="container">
    <client-only>
      <div v-if="this.$route.query.route === '11'">
        <h2>Q3_1：ストレートヘアが好き</h2>
        <QuestionContent question="Q3_1"></QuestionContent>
      </div>
      <div
        v-else-if="
          this.$route.query.route === '10' || this.$route.query.route === '00'
        "
      >
        <h2>Q3_2：ヘアアイロン・コテをよく使用する</h2>
        <QuestionContent question="Q3_2"></QuestionContent>
      </div>
      <div v-else-if="this.$route.query.route === '01'">
        <h2>Q3_3：髪は細めである</h2>
        <QuestionContent question="Q3_2"></QuestionContent>
      </div>
    </client-only>
    <nuxt-link :to="`${this.$setQuery('yes', '/q4')}`">Yes</nuxt-link>
    <nuxt-link :to="`${this.$setQuery('no', '/q4')}`">No</nuxt-link>
    <client-only>
      <div v-if="this.$route.query.route" class="back">
        <nuxt-link :to="`/q2/?route=${this.$route.query.route.substr(0, 1)}`"
          >戻る</nuxt-link
        >
      </div>
    </client-only>
  </div>
</template>

<script>
import QuestionContent from '~/components/QuestionContent.vue'

export default {
  components: {
    QuestionContent
  },
  mounted() {
    // eslint-disable-next-line no-console
    console.log(this.$route.query.route)
  }
}
</script>

<style>
.container {
  width: 100%;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.back {
  margin-top: 30px;
}
</style>
