<template>
  <div class="container">
    <client-only>
      <div v-if="this.$route.query.route === '111'">
        <h2>Q4_1：重さのあるウェットヘアが好き</h2>
        <QuestionContent question="Q4_1"></QuestionContent>
      </div>
      <div
        v-else-if="
          this.$route.query.route === '110' ||
            this.$route.query.route === '101' ||
            this.$route.query.route === '001'
        "
      >
        <h2>Q4_2：ヘルシーなスタイリングが好き</h2>
        <QuestionContent question="Q4_2"></QuestionContent>
      </div>
      <div
        v-else-if="
          this.$route.query.route === '100' ||
            this.$route.query.route === '000' ||
            this.$route.query.route === '011'
        "
      >
        <h2>Q4_3：クセ毛っぽいラフなケアが好き</h2>
        <QuestionContent question="Q4_3"></QuestionContent>
      </div>
      <div v-else-if="this.$route.query.route === '010'">
        <h2>Q4_4：エアリー感のあるスタイリングが好き</h2>
        <QuestionContent question="Q4_4"></QuestionContent>
      </div>
    </client-only>
    <nuxt-link :to="`${this.$setQuery('yes', '/result')}`">Yes</nuxt-link>
    <nuxt-link :to="`${this.$setQuery('no', '/result')}`">No</nuxt-link>
    <client-only>
      <div v-if="this.$route.query.route" class="back">
        <nuxt-link :to="`/q3/?route=${this.$route.query.route.substr(0, 2)}`"
          >戻る</nuxt-link
        >
      </div>
    </client-only>
  </div>
</template>

<script>
import QuestionContent from '~/components/QuestionContent.vue'

export default {
  components: {
    QuestionContent
  },
  mounted() {
    // eslint-disable-next-line no-console
    console.log(this.$route.query.route)
  }
}
</script>

<style>
.container {
  width: 100%;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.back {
  margin-top: 30px;
}
</style>
