<template>
  <div class="container">
    <h1>結果画面</h1>
    <client-only>
      <ResultContent :result="getResult()"></ResultContent>
    </client-only>
    <nuxt-link to="/">> Home</nuxt-link>
  </div>
</template>

<script>
import ResultContent from '~/components/ResultContent.vue'

export default {
  components: {
    ResultContent
  },
  methods: {
    getResult() {
      const resultRoute = this.$route.query.route
      switch (resultRoute) {
        case '1111':
          return 'type1'
        case '1110':
          return 'type2'
        case '1101':
        case '1011':
        case '0011':
          return 'type3'
        case '1100':
        case '1010':
        case '0010':
          return 'type4'
        case '1001':
        case '0001':
        case '0111':
          return 'type5'
        case '1000':
        case '0110':
        case '0000':
          return 'type6'
        case '0101':
          return 'type7'
        case '0100':
          return 'type8'
      }
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  padding: 20px;
}

p {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}
</style>
